li{
    list-style: none;
}
#wrapper{
    background-color: ghostwhite;
    box-shadow: 2px 2px 1px black;
    width: 80%;
    margin: 0 auto;
    border-radius: 2%;
}
/*css pour page catalogue*/
#wrapper_cat{
padding:10px ;
}
#wrapper_cat #div_cat {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% auto;

}


#div_cat + input{
    width:30%;
    font-family: Arial sans-serif ;
    display: block;
    margin: 2% auto;
    font-size: 120%;
    background-color: #888b89;
    color: white;
    border-radius: 3%;
}
#div_cat + input:hover{
    font-size: 140%;
    font-style: oblique;
    background-color: white;
    color: #686b69;
}
.div_cat_child{
    border-radius: 2%;
    width: 30%;
    padding: 2% 0;
    font-size: 120%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div_cat_child input {
    display: inline-block;
    margin-right: 10%;
}

/*css pour page article*/

.bouton_panier{
    width: 40px!important;
    height: 40px!important;
}
#wrapper_articles{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:3% auto;
}
#wrapper_articles .image{
    display: block;
    margin: 0 auto;
    width: 70%;


}
.article {
    width: 45%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.article div{
text-align: justify;
    padding: 10px;
    font-size: 120%;
}
.article:hover{
    box-shadow: 2px 2px 1px black;
}
.article div>a:hover{
    border-bottom: 1px solid darkgrey;
}
.article div:first-child{
    font-size: 150%;
}

/* CSS pour panier*/
.bouton_submit{
    background-color:#888b89 ;
    margin: 10px;
    width:30%;
    height: 20%;
    float: right;
    font-size: 130%;
}
.bouton_submit:hover{

    font-style: oblique;
    background-color: white;
    color:forestgreen;
}
.article_panier .image{
    width:100px ;
    height:100px ;
    display: flex;
    flex-direction: column;

}
.article_panier{
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px dashed gray;

}

.article_panier > li{
    margin: 2% 0;
    display :flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: flex-start;
}
.article_panier .del_article{
    width: 50px;
    height: 50px;
    border: 2px solid #276e8b;
    border-radius: 25px;
}
.article_panier .del_article:hover{
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 25px;
    box-shadow: 3px 3px 2px black;
}

.article_panier .titre{
    font-size: 130%;
    padding: 10%;
}
.article_panier .titre+span{
    font-size: 130%;
    color: darkcyan;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.valider_qte img{
    width: 30px;
}



/*css accueil*/
#wrapper_accueil{
    position: relative;
    width: 70%;
    height: 1000px;
    background-color: deepskyblue;
    margin: 0 auto;
    overflow: hidden;
}

#fleche_gauche{
    position: absolute;
    width: 20px;
    height: 20px;
    float: left;
    left: 0;
    top: 30%;
}
#fleche_droite{
    position: absolute;
    width: 20px;
    height: 20px;
    float: right;
    right: 10.5%;
    top: 30%;
}
.slider_content{
    width: 10000px;
    display: flex;

}
.class_slider{
    width: 100%;
    margin: 0.6%;
}
.class_slider img{
    display: block;
    width: 100%;
}
.info_livre h2,.info_livre h3{
    display: block;
    text-align: center;

}

#wrapper_livre{
    display: flex;
    margin: 10px auto;
    text-align: center;
}
#wrapper_livre>div+div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.desc_livre,.desc_livre+span{
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
}
#wrapper_livre>*{
    padding: 10px;


}
#wrapper_livre .titre_detail,#wrapper_livre .titre_detail+span{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}


.reponse{
display: block;
    margin: auto;
}