#wrapper{
    width: 80%;
}
.article{
    display: block;
    text-align: center;
    margin: 2%;
    width: 29%;
}
.article > img{
    width: 300px;
    height: 400px;
}
#menu > ul {
    display: flex;
    justify-content: flex-end;
}
#menu > ul > li{
    height: 150px;
    width: 20%;
    background-color: cornflowerblue;
}

